# Ignore Gradle project-specific cache directory
HELP.md
!**/src/main/**
!**/src/resources/**

# Ignore Gradle build output directory
!gradle/wrapper/gradle-wrapper.jar
build/
bin/
log/

# Java
*.class

# Gradle
/app/.gradle/
/app/build/
.gradle/

# Eclipse
/app/.settings/
/app/bin/
/app/.classpath
/app/.project
.settings/
.classpath
.project

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
/.vscode/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### MAC OS ###
.DS_Store

# confidential files
*.json
**/application-local.yml
**/application-test.yml
**/encrypt-dev.yml
**/encrypt.yml